.card {
  background-color: gray;
  color: whitesmoke;
  padding: 2rem;
}
.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
.square{
  font-size: 2em;
  height: 16rem;
  width: 16rem;
  background-color: aquamarine;
}
.red {
  color: red;
}
.green {
  color: green;
}
.gray{
  color: gray;
}
.blue{
  color: blue;
}
